<app-header-dashboard></app-header-dashboard>

<div class="container">
  <h3>Edit Patient Info</h3>
  <hr />

  <form name="frmPatient" #patientForm="ngForm" autocomplete="off" (ngSubmit)="editPatient(patientForm)">

    <!-- PatientId -->
     <div class="form-group mb-3">
        <label class="form-label mb-2">Patient MRN</label>
        <input type="text" readonly name="PatientId" class="form-control fw-bold"[(ngModel)]="patient.PatientId" />
    </div>

   <!-- First Name -->
<div class="form-group mb-3">
  <label class="fw-semibold">First Name</label>
  <input type="text"
         name="FirstName"
         #FirstName="ngModel"
         [(ngModel)]="patient.FirstName"
         class="form-control fw-bold"
         placeholder="Enter First Name"
         minlength="2"
         maxlength="40"
         required
         pattern="^[a-zA-Z][a-zA-Z\s]*$"
         (keypress)="allowLettersOnly($event)"
         [ngClass]="{'is-invalid': FirstName.touched && FirstName.invalid}" />

  <span class="text-danger" *ngIf="FirstName.touched && FirstName.errors?.['required']">
    First Name is required
  </span>
  <span class="text-danger" *ngIf="FirstName.errors?.['minlength']">
    Minimum 2 characters required
  </span>
  <span class="text-danger" *ngIf="FirstName.touched && FirstName.errors?.['pattern']">
    Leading spaces or only spaces are not allowed
  </span>
</div>

<!-- Last Name -->
<div class="form-group mb-3">
  <label class="fw-semibold">Last Name</label>
  <input type="text"
         name="LastName"
         #LastName="ngModel"
         [(ngModel)]="patient.LastName"
         class="form-control fw-bold"
         placeholder="Enter Last Name"
         minlength="2"
         maxlength="40"
         required
         pattern="^[a-zA-Z][a-zA-Z\s]*$"
         (keypress)="allowLettersOnly($event)"
         [ngClass]="{'is-invalid': LastName.touched && LastName.invalid}" />

  <span class="text-danger" *ngIf="LastName.touched && LastName.errors?.['required']">
    Last Name is required
  </span>
  <span class="text-danger" *ngIf="LastName.touched && LastName.errors?.['pattern']">
    Leading spaces or only spaces are not allowed
  </span>
</div>

    <!-- Gender -->
    <div class="form-group mb-3">
      <label class="fw-semibold">Gender</label>
      <select name="Gender"
              #Gender="ngModel"
              [(ngModel)]="patient.Gender"
              class="form-control fw-bold w-25"
              required
              [ngClass]="{'is-invalid': Gender.touched && Gender.invalid}">
        <option value="" disabled selected>-- Select Gender --</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>

      <span class="text-danger" *ngIf="Gender.touched && Gender.errors?.['required']">
        Gender is required
      </span>
    </div>

    <!-- DOB -->
    <div class="form-group mb-3">
      <label class="fw-semibold">Date of Birth</label>
      <input type="date"
             name="Dob"
             #Dob="ngModel"
             [(ngModel)]="patient.Dob"
             class="form-control fw-bold w-25"
             min="1916-01-01"
             [max]="today"
             required
             [ngClass]="{'is-invalid': Dob.touched && (Dob.invalid || isInvalidDate(patient.Dob) || isFutureDate(patient.Dob))}" />

      <span class="text-danger" *ngIf="Dob.touched && Dob.errors?.['required']">
        DOB is required
      </span>
      <span class="text-danger" *ngIf="Dob.touched && isInvalidDate(patient.Dob)">
        Date of birth cannot be earlier than 1916
      </span>
      <span class="text-danger" *ngIf="Dob.touched && isFutureDate(patient.Dob)">
        Date of birth cannot be in the future
      </span>
    </div>

    <!-- Phone -->
    <div class="form-group mb-3">
      <label class="fw-semibold">Phone</label>
      <input type="text"
             name="Phone"
             #Phone="ngModel"
             [(ngModel)]="patient.Phone"
             class="form-control fw-bold"
             placeholder="Enter Phone +91xxxxxxxxxx"
             minlength="10"
             maxlength="10"
             pattern="^[6-9][0-9]{9}$"
             required
             [ngClass]="{'is-invalid': Phone.touched && Phone.invalid}" />

      <span class="text-danger" *ngIf="Phone.touched && Phone.errors?.['required']">
        Mobile number is required
      </span>
      <span class="text-danger" *ngIf="Phone.errors?.['pattern']">
        Enter valid 10-digit mobile number
      </span>
       <span class="text-danger" *ngIf="(Phone.touched || patientForm.submitted) && Phone.errors?.['pattern']">
        Enter valid 10-digit mobile number starting with 6, 7, 8, or 9
      </span>
    </div>

    <!-- Email -->
    <div class="form-group mb-3">
      <label class="fw-semibold">Email</label>
      <input type="email"
             name="Email"
             #Email="ngModel"
             [(ngModel)]="patient.Email"
             class="form-control fw-bold"
             placeholder="Enter Email"
             required
             email
             maxlength="40"
             pattern="^[^\s].*"
             [ngClass]="{'is-invalid': Email.touched && Email.invalid}" />

      <span class="text-danger" *ngIf="Email.touched && Email.errors?.['required']">
        Email is required
      </span>
      <span class="text-danger" *ngIf="Email.errors?.['email']">
        Invalid email format
      </span>
      <span class="text-danger" *ngIf="Email.touched && Email.errors?.['pattern']">
        Leading spaces or only spaces are not allowed
      </span>
    </div>

    <!-- Address -->
    <div class="form-group mb-3">
      <label class="fw-semibold">Address</label>
      <textarea name="Address"
                #Address="ngModel"
                [(ngModel)]="patient.Address"
                class="form-control fw-bold"
                rows="3"
                required
                [ngClass]="{'is-invalid': Address.touched && Address.invalid}">
      </textarea>

      <span class="text-danger" *ngIf="Address.touched && Address.errors?.['required']">
        Address is required
      </span>
    </div>

    <!-- IsActive -->
    <!-- <div class="form-group mb-3">
      <div class="form-check">
        <input type="checkbox"
               name="IsActive"
               [(ngModel)]="patient.IsActive"
               class="form-check-input" />
        <label class="form-check-label">Active</label>
      </div>
    </div> -->

    <!-- Submit -->
    <button type="submit"
            class="btn btn-primary w-100"
            [disabled]="!(patientForm.valid && patientForm.dirty)">
      UPDATE
    </button>

  </form>
</div>

